html {
    font-size: 16px;
    box-sizing:border-box;
}

::after, ::before{
    box-sizing: inherit;
}

body {
    background-color: whitesmoke;
    color: blue ;
    margin: 1 rem;
}

a, a:visited {
    color: lightskyblue;
}

a:hover {
    color: lightgreen;
}

a:active {
    color: lightgoldenrodyellow;
}

.main-title {
    margin: 1rem;
    text-align: center;
    letter-spacing: 2px;
}

/* form*/

.food-form {
    display:flex;
    align-items: 1.5rem;
    justify-content: center;
}
.imput-label {
  padding: 0.5rem;  
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}

.text-input {
    padding: 0.25rem;
    line-height:1.5 ; 
}

.meal-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.meal-container {
    margin: 1rem;
    border: 5px inset whitesmoke;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.meal-thumbnail {
    height: 150px;
    border-radius: 50%;
    border: 4px ridge deepskyblue;
}


.search-button-.button-12{
   background-color: gray;
}

.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: blue ;
    box-shadow: 0px 0.5px gray  1pxrgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px blue (255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: white;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px gray (255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }





